[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AnanseSeurat"]
	path = AnanseSeurat
	url = https://github.com/jgasmits/ananseseurat
